---   # rust-psbt CI: If you edit this file please update README.md
on:   # yamllint disable-line rule:truthy
  push:
    branches:
      - master
      - 'test-ci/**'
  pull_request:

name: Continuous integration

jobs:
  Stable:                       # 2 jobs, one per lock file.
    name: Test - stable toolchain
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dep: [minimal, recent]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/prepare
        with:
          toolchain: stable
      - name: "Run tests"
        run: cargo rbmt test stable --lock-file ${{ matrix.dep }}

  Nightly:                      # 2 jobs, one per lock file.
    name: Test - nightly toolchain
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dep: [minimal, recent]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/prepare
        with:
          toolchain: nightly
      - name: "Run tests"
        run: cargo rbmt test nightly --lock-file ${{ matrix.dep }}

  MSRV:                         # 2 jobs, one per lock file.
    name: Test - MSRV toolchain
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        dep: [minimal, recent]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/prepare
        with:
          toolchain: "1.74.0"
      - name: "Run tests"
        run: cargo rbmt test msrv --lock-file ${{ matrix.dep }}

  Lint:
    name: Lint - nightly toolchain
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/prepare
        with:
          toolchain: nightly
          components: clippy
      - name: "Run lint"
        run: cargo rbmt lint

  Docs:
    name: Docs - stable toolchain
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/prepare
        with:
          toolchain: stable
      - name: "Build docs"
        run: cargo rbmt docs

  Docsrs:
    name: Docs - nightly toolchain
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/prepare
        with:
          toolchain: nightly
      - name: "Build docs.rs docs"
        run: cargo rbmt docsrs

  Format:                       #  1 job, run cargo fmt directly.
    name: Format - nightly toolchain
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/prepare
        with:
          toolchain: nightly
          components: rustfmt
      - name: "Check formatting"
        run: cargo fmt --all -- --check

  Integration:                  # 1 job, run bitcoin core integration tests using rbmt.
    name: Integration - against bitcoind
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/prepare
        with:
          toolchain: stable
      - name: "Run integration tests"
        run: cargo rbmt integration
